body{
  background: #85C1E9;
}
header{
  background: #9B59B6;
  text-align: center;
}
img{

  /*text-align: right;*/
  float:right;
  width:30%;
  height:30%;
}
a{
  float:right;
}
.child{
  width:20%;
  height:150px;
  padding:1%;
  margin:3%;
  text-align: center;
  border-radius: 3px solid #fff;
  display:block;
  background-color: white;
  justify-content: space-around;
}

.child img{
  width:70px;
  height:70px;
  border:2px solid #fff;
}
.link{
  /* text-decoration: none; */
  /* background-color: red; */
  color:red;
  border:2%;

}
